body {
    background-color: #E8E3DA;
}

.brand {
    font-family: 'Lato', serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

@media (max-width: 576px) {
    .navbar-brand h1 {
        font-size: 1.1rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .navbar-brand h1 {
        font-size: 1.3rem;
    }
}

/* Desktop screens (769px and up) */
@media (min-width: 769px) {
    .navbar-brand h1 {
        font-size: 1.5rem;
    }
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #E8E3DA;
}

.dark-bg {
    background-color: #4A5A5F;
}

.main-bg {
    background-color: #E8E3DA;
}

/* Navigation styling */
.nav-item {
    /* Add your styles here */
}

.nav-link {
    color: #2B2B2B !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #B5543A !important;
    text-decoration: underline;
}

.nav-link.active {
    color: #B5543A !important;
    font-weight: bold;
}

.card {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-title {
    min-height: 3rem;
    text-align: center;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.card {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    height: 75%;
    width: 75%;
    object-fit: contain;
    object-position: top;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #E8E3DA;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #4A5A5F;
    color: #E8E3DA;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    background-size: contain;
    background-position: center;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #4A5A5F;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.product-link {
    text-decoration: none;
    color: #4A5A5F;
}

.product-link:hover,
.page-link {
    color: #B5543A;
}

.product-title {
    margin-top: 10%;
    margin-left: 5%;
}

.product-subtitle {
    margin-left: 5%;
    color: #4A5A5F;
}

.btn-signup,
.btn-edit {
    background-color: #4A5A5F;
    color: #E8E3DA;
    font-weight: bold;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #B5543A;
    color: #2B2B2B;
}

.link {
    color: #B5543A;
    text-decoration: none;
    font-weight: bold;
}

.link:hover,
.link:active {
    color: #4A5A5F;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #E8E3DA;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.page-link {
    background-color: #4A5A5F;
    color: #E8E3DA;
    font-weight: bold;
    border: none;
}

.page-link:hover {
    background-color: #B5543A;
    color: #2B2B2B;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

body {
    background-color: #E8E3DA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}